<template>
    <div>
        <div class="col">
            <div class="form-group">
                <div class="form-row">
                    <div class="col-12 col-md-4">
                        <select id="prefix" class="custom-select" v-model="type">
                            <option value="names">Nombres</option>
                            <option value="charge">Cargo</option>
                            <option value="date">Fecha</option>
                            <option value="email">Email</option>
                        </select>
                    </div>
                    <div class="col-12 col-md-4">
                        <input type="text" placeholder="Buscar" class="form-control" v-model="search">
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive">
        	<table class="table align-items-center table-flush">
            	<thead class="thead-gray">
              		<tr>
                        <th scope="col">Fecha</th>
                		<th scope="col">Nombres</th>
                		<th scope="col">Apellidos</th>
                		<th scope="col">Cargo</th>
                		<th scope="col">Correo eletrónico</th>
                        <th scope="col">Teléfono</th>
                        <th scope="col">Currículum Vitae</th>
              		</tr>
            	</thead>
            	<tbody v-if="postulates.length > 0">
            		<tr v-for="(postulate, key) in searchPostulates">
                        <th>{{ postulate.created_at }}</th>
            			<th>{{ postulate.names }}</th>
            			<td>{{ postulate.surnames }}</td>
                        <td>{{ postulate.occupancy }}</td>
                        <td>{{ postulate.email }}</td>
                        <td>{{ postulate.phone }}</td>
            			<td>
                            <a class="btn btn-primary btn-sm" href="javascript:void(0);" v-on:click="getLocationDownload(postulate.id)">
                                Descargar
                            </a>
                            <a class="btn btn-danger btn-sm" href="javascript:void(0);" v-on:click="getDeletePostulation(postulate.id)">Eliminar</a>
                        </td>
            		</tr>	
                </tbody>
                <tbody v-else>
        			<tr>
        				<td colspan="4">No hay usuarios postulados.</td>
        			</tr>
                </tbody>
            </table>
        </div>
        <div class="card-footer py-4" v-if="pagination.total > 10">
            <nav aria-label="nav">
                <ul class="pagination justify-content-end mb-0">
                    <li class="page-item" v-if="pagination.current_page > 1">
                        <a class="page-link" href="#" tabindex="-1" @click.prevent="changePage(pagination.current_page - 1)">
                            <i class="fas fa-angle-left"></i>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li v-bind:class="[ 'page-item', page == isActived ? 'active' : '' ]" v-for="page in pagesNumber">
                        <a class="page-link" href="#" @click.prevent="changePage(page)">{{ page }}</a>
                    </li>
                    <li class="page-item" v-if="pagination.current_page < pagination.last_page">
                        <a class="page-link" href="#" @click.prevent="changePage(pagination.current_page + 1)">
                            <i class="fas fa-angle-right"></i>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</template>
<script>
	export default {
        created: function () {
            this.getPostulates()
        },
		data () {
        	return {
                search: '',
                type: 'names',
                pagination: {
                    'total': 0,
                    'current_page': 0,
                    'per_page': 0,
                    'last_page': 0,
                    'from': 0,
                    'to': 0,
                },
                postulates: [],
                offset: 3
            }
        },
        computed: {
            isActived: function () {
                return this.pagination.current_page;
            },
            pagesNumber: function () {
                
                if (!this.pagination.to) {
                    return [];
                }

                let from = this.pagination.current_page - this.offset;
                
                if ( from < 1) {
                    from = 1;
                }

                let to = from + (this.offset * 2);

                if (to >= this.pagination.last_page) {
                    to = this.pagination.last_page;
                }

                let pagesArray = [];

                while (from <= to) {
                    pagesArray.push(from);
                    from++;
                }

                return pagesArray;
            },
            searchPostulates: function () {
                return this.postulates.filter((item) => {
                    if ( this.type == 'names' ) {
                        return item.names.match(this.search)
                    } else if ( this.type == 'date') {
                        return item.created_at.match(this.search)
                    } else if ( this.type == 'charge') {
                        return item.occupancy.match(this.search)
                    } else {
                        return item.email.match(this.search)
                    }
                });
            }
        },
        methods: {
            getLocationDownload: function (id) {

                window.location.href = `/postulates/${id}/download`;
            },
            getDeletePostulation: function (id) {

                let http = `/postulates/${id}`;

                axios.delete(http).then(response => {
                    
                    window.location.href = '/postulates';
                });
            },
            getPostulates: function (page) {
        
                let urlPostulates = '/dataTable/postulates?page=' + page;

                axios.get(urlPostulates).then(response => {
                    this.postulates = response.data.postulates.data,
                    this.pagination = response.data.pagination
                });
            },
            changePage: function (page) {
                this.pagination.current_page = page;
                this.getPostulates(page);
            }
        }
	};
</script>