<template>
	<div class="row">
        <div class="col">
            <div class="card" v-if="articles.length > 0">
                <div class="card-body item" v-for="article in articles">
                    <div class="row">
                        <div class="item__image d-none d-lg-block">
                            <img class="img-fluid" :src="[ article.image === null ? '/images/logo.png' : '/storage/' + article.image ]" :alt="article.title" height="160">
                        </div>
                        <div class="item__info-container px-5">
                            <h1 class="item__title font-weight-light">
                                <a href="">
                                    {{ article.title }}
                                </a>
                            </h1>
                            <a :href="singleArticle+article.slug" class="btn btn-primary my-5">Ver más</a>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <nav aria-label="nav">
                        <ul class="pagination justify-content-end mb-0">
                            <li class="page-item" v-if="pagination.current_page > 1">
                                <a class="page-link" href="#" tabindex="-1" @click.prevent="changePage(pagination.current_page - 1)">
                                    <i class="fas fa-angle-left"></i>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                            <li v-bind:class="[ 'page-item', page == isActived ? 'active' : '' ]" v-for="page in pagesNumber">
                                <a class="page-link" href="#" @click.prevent="changePage(page)">{{ page }}</a>
                            </li>
                            <li class="page-item" v-if="pagination.current_page < pagination.last_page">
                                <a class="page-link" href="#" @click.prevent="changePage(pagination.current_page + 1)">
                                    <i class="fas fa-angle-right"></i>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="card" v-else>
                <div class="card-body item">
                    <h1 class="card-title font-weight-light text-center">NO HAY NOTICIAS DISPONIBLES</h1>
                    <p class="text-center">Te invitamos a seguir navegando en nuestro sitio, hay una gran variedad de opciones para ti!</p>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
	export default {
		created: function () {
            this.getArticles()
        },
		data () {
        	return {
                pagination: {
                    'total': 0,
                    'current_page': 0,
                    'per_page': 0,
                    'last_page': 0,
                    'from': 0,
                    'to': 0,
                },
                articles: [],
                offset: 3,
                singleArticle: "/articles/"
            }
        },
        computed: {
            isActived: function () {
                return this.pagination.current_page;
            },
            pagesNumber: function () {

                if (!this.pagination.to) {
                    return [];
                }

                let from = this.pagination.current_page - this.offset;

                if ( from < 1) {
                    from = 1;
                }

                let to = from + (this.offset * 2);

                if (to >= this.pagination.last_page) {
                    to = this.pagination.last_page;
                }

                let pagesArray = [];

                while (from <= to) {
                    pagesArray.push(from);
                    from++;
                }

                return pagesArray;
            }
        },
        methods: {
            getArticles: function (page) {

                let urlBag = `/articles/blins?page=` + page;

                axios.get(urlBag).then(response => {
                    console.log(response.data.articles.data);
                    this.articles = response.data.articles.data,
                    this.pagination = response.data.pagination
                });
            },
            changePage: function (page) {
                this.pagination.current_page = page;
                this.getProducts(page);
            }
        }
	};
</script>
