<template>
    <div class="row">
        <div class="col">
            <div class="row" v-if="bags.length > 0">
                <div class="col-md-6" v-for="bag in bags">
                    <div class="row">
                        <div class="col-md-3">
                            <img class="img-fluid" :src="[ bag.image === null ? '/images/bag.png' : '/storage/' + bag.image ]" :alt="bag.title" height="160">
                        </div>
                        <div class="col-md">
                            <h1 class="item__title font-weight-light">
                                <a href="">
                                    {{ bag.title }}
                                </a>
                                <p class="font-weight-light text-justify">
                                    {{ bag.detail }}
                                </p>
                            </h1>
                            <div class="price__fraction">
                                <div class="item__price">
                                    <h3 class="price__symbol">Área <small class="font-weight-light">{{ bag.area }}</small></h3>
                                    <h3 class="price__symbol">Contacto <small class="font-weight-light">{{ bag.contact }}</small></h3>
                                    <h3 class="price__symbol">Cargo <small class="font-weight-light">{{ bag.occupancy }}</small></h3>
                                    <h3 class="price__symbol">Salario <small class="font-weight-light">{{ bag.salary }}</small></h3>
                                </div>
                            </div>
                            <a href="javascript:void(0);" v-on:click="getBagUser(bag.slug)"  class="btn btn-primary my-5">Postularme</a>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <nav aria-label="nav">
                        <ul class="pagination justify-content-end mb-0">
                            <li class="page-item" v-if="pagination.current_page > 1">
                                <a class="page-link" href="#" tabindex="-1" @click.prevent="changePage(pagination.current_page - 1)">
                                    <i class="fas fa-angle-left"></i>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                            <li v-bind:class="[ 'page-item', page == isActived ? 'active' : '' ]" v-for="page in pagesNumber">
                                <a class="page-link" href="#" @click.prevent="changePage(page)">{{ page }}</a>
                            </li>
                            <li class="page-item" v-if="pagination.current_page < pagination.last_page">
                                <a class="page-link" href="#" @click.prevent="changePage(pagination.current_page + 1)">
                                    <i class="fas fa-angle-right"></i>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="card" v-else>
                <div class="card-body item">
                    <h1 class="card-title font-weight-light text-center">NO HAY TRABAJOS DISPONIBLES</h1>
                    <p class="text-center">Te invitamos a seguir navegando en nuestro sitio, hay una gran variedad de opciones para ti!</p>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
	export default {
		created: function () {
            this.getBags()
        },
		data () {
        	return {
                pagination: {
                    'total': 0,
                    'current_page': 0,
                    'per_page': 0,
                    'last_page': 0,
                    'from': 0,
                    'to': 0,
                },
                bags: [],
                offset: 3
            }
        },
        computed: {
            isActived: function () {
                return this.pagination.current_page;
            },
            pagesNumber: function () {
                
                if (!this.pagination.to) {
                    return [];
                }

                let from = this.pagination.current_page - this.offset;
                
                if ( from < 1) {
                    from = 1;
                }

                let to = from + (this.offset * 2);

                if (to >= this.pagination.last_page) {
                    to = this.pagination.last_page;
                }

                let pagesArray = [];

                while (from <= to) {
                    pagesArray.push(from);
                    from++;
                }

                return pagesArray;
            }
        },
        methods: {
            getBags: function (page) {
                
                let urlBag = `/bags?page=` + page;

                axios.get(urlBag).then(response => {
                    this.bags = response.data.bags.data,
                    this.pagination = response.data.pagination
                });
            },
            getBagUser: function (id) {
                
                window.location.href = `/bags/${id}`;
            },
            changePage: function (page) {
                this.pagination.current_page = page;
                this.getProducts(page);
            }
        }
	};
</script>