<template>
	<div>
		<form ref="form" id="createform" @submit.prevent="storeMessage" autocomplete="off">
			<div class="pl-lg-4">
				<div class="row">
                    <div class="col-md-12">
                        <label class="form-control-label" for="input-title">Título</label>
                      	<div :class="[ 'form-group', errors.title ? ' has-danger' : '' ]">
                        	<input type="text" id="input-title" :class="[ 'form-control', errors.title ? ' is-invalid' : '' ]" v-model="title" placeholder="Asunto" maxlength="75" required/>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <label class="form-control-label" for="input-email">Correo electrónico</label>
                      	<div :class="['form-group', errors.email ? ' has-danger' : '' ]">
                        	<input type="email" id="input-email" :class="[ 'form-control', errors.email ? ' is-invalid' : '' ]" v-model="email" placeholder="example@blins.com" maxlength="75" required/>
                      	</div>
                    </div>
                </div>
            </div>
            <div class="pl-lg-4">
                <div class="row">
                	<div class="col-12">
                        <label class="form-control-label" for="input-names">Nombres</label>
                		<div :class="[ 'form-group', errors.names ? ' has-danger' : '' ]">
                			<input type="text" id="input-names" :class="[ 'form-control', errors.names ? ' is-invalid' : '' ]" v-model="names" placeholder="Damian" maxlength="65" required/>
                		</div>
                	</div>
                	<div class="col-12">
                        <label class="form-control-label" for="input-surnames">Apellidos</label>
                		<div :class="[ 'form-group', errors.surnames ? ' has-danger' : '' ]">
                			<input type="text" id="input-surnames" :class="[ 'form-control', errors.surnames ? ' is-invalid' : '' ]" v-model="surnames" placeholder="Pérez" maxlength="65" required/>
                		</div>
                	</div>
                </div>
            </div>
            <div class="pl-lg-4">
                <div class="row">
                	<div class="col-md-12">
                        <label class="form-control-label" for="input-phone">Teléfono</label>
	                	<div :class="[ 'form-group', errors.phone ? ' has-danger' : '' ]">
	                		<input type="text" id="input-phone" :class="[ 'form-control', errors.phone ? ' is-invalid' : '' ]" v-model="phone" maxlength="35" required/>
	                	</div>
                	</div>
                </div>
			</div>
			<div class="pl-lg-4">
                <label class="form-control-label" for="detail">Comentarios</label>
              	<div :class="[ 'form-group', errors.detail ? ' has-danger' : '' ]">
               		<textarea rows="4" id="detail" :class="[ 'form-control', errors.detail ? ' is-invalid' : '' ]" v-model="detail" placeholder="Características de tu mensaje ..." required></textarea>
              	</div>
            </div>
            <div class="pl-lg-4">
            	<div class="form-group">
            		<button type="submit" class="btn btn-success">Enviar</button>
            	</div>
            </div>
		</form>
	</div>
</template>
<script>
	export default {
		data () {
	        return {
	            title: '',
	            email: '',
	            names: '',
	            surnames: '',
	            phone: '',
	            detail: '',
                errors: []
	        }
	    },
	    methods: {
	    	storeMessage: function () {

	    		let http = '/message';

	    		axios.post(http, {

                	title: this.title,
                	email: this.email,
                	names: this.names,
                	surnames: this.surnames,
                	phone: this.phone,
                	detail: this.detail

	            }).then(response => {

	            	window.location.href = '/message';

	            }).catch(error => {

                    this.errors = error.response.data.errors;
	            });
	    	}
	    }
	};
</script>

<style>

</style>