<template>
	<div class="col-xl-8 my-5 mb-xl-0">
		<div class="card card-profile shadow">
			<div class="row justify-content-center">
				<div class="col-lg-3 order-lg-2">
					<div class="card-profile-image">
						<a href="#">
							<img src="/images/no-profile.jpg" class="rounded-circle">
						</a>
					</div>
				</div>
			</div>
			<div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
				<div class="d-flex justify-content-between"></div>
			</div>
			<div class="card-body pt-0 pt-md-4">
				<form ref="form" id="createform" @submit.prevent="storePostulation()" autocomplete="off" enctype="multipart/form-data">
					<div class="row">
						<div class="col">
							<div class="card-profile-stats d-flex justify-content-center mt-md-5"></div>
						</div>
					</div>
					<div class="row">
	                    <div class="col-md">
	                        <label class="form-control-label" for="input-names">Nombres</label>
	                      	<div :class="[ 'form-group', errors.names ? ' has-danger' : '' ]">
	                        	<input type="text" id="input-names" :class="[ 'form-control', errors.names ? ' is-invalid' : '' ]" v-model="names" placeholder="Jesús" maxlength="75" required/>
	                        </div>
	                    </div>
	                    <div class="col-md">
	                        <label class="form-control-label" for="input-surnames">Apellidos</label>
	                      	<div :class="[ 'form-group', errors.surnames ? ' has-danger' : '' ]">
	                        	<input type="text" id="input-surnames" :class="[ 'form-control', errors.surnames ? ' is-invalid' : '' ]" v-model="surnames" placeholder="Pérez" maxlength="75" required/>
	                        </div>
	                    </div>
					</div>
					<div class="row">
						<div class="col-md">
	                        <label class="form-control-label" for="input-occupancy">Cargo</label>
	                      	<div :class="[ 'form-group', errors.occupancy ? ' has-danger' : '' ]">
	                        	<input type="text" id="input-occupancy" :class="[ 'form-control', errors.occupancy ? ' is-invalid' : '' ]" v-model="occupancy" placeholder="Vendedor" maxlength="75" required readonly/>
	                        </div>
	                    </div>
	                    <div class="col-md">
	                        <label class="form-control-label" for="input-email">Correo electrónico</label>
	                      	<div :class="[ 'form-group', errors.email ? ' has-danger' : '' ]">
	                        	<input type="email" id="input-email" :class="[ 'form-control', errors.email ? ' is-invalid' : '' ]" v-model="email" placeholder="example@blins.com" maxlength="75" required/>
	                        </div>
	                    </div>
					</div>
					<div class="row">
						<div class="col-md">
							<label class="form-control-label" for="input-phone">Télefono</label> 
							<div :class="[ 'form-group', errors.phone ? ' has-danger' : '' ]">
								<input type="text" id="input-phone" placeholder="0000000000" maxlength="16" :class="[ 'form-control', errors.phone ? ' is-invalid' : '' ]" v-model="phone" required>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md">
	                        <label class="form-control-label" for="input-file">CV</label>
	                      	<div :class="[ 'form-group', errors.file ? ' has-danger' : '' ]">
	                        	<input type="file" @change="processFile($event)" id="input-file" :class="[ 'form-control', errors.file ? ' is-invalid' : '' ]" required/>
	                        </div>
	                    </div>
					</div>
					<div class="row">
						<div class="col-md">
			            	<div class="form-group">
			            		<button type="submit" class="btn btn-success">Enviar</button>
			            	</div>
		            	</div>
		            </div>
				</form>
			</div>
		</div>
	</div>
</template>
<script>
	export default {
		props: ['bag'],
		data () {
	        return {
	            names: '',
	            surnames: '',
	            occupancy: this.bag.occupancy,
	            email: '',
	            phone: '',
	            file: '',
                errors: []
	        }
	    },
	    methods: {
	    	storePostulation: function () {

	    		let formData = new FormData();

	    		formData.append('names', this.names);
			 	formData.append('surnames', this.surnames);
			  	formData.append('occupancy', this.occupancy);
			  	formData.append('email', this.email);
			  	formData.append('phone', this.phone);
			  	formData.append('file', this.file);
			  	formData.append('bag', this.bag.id);

	    		axios.post('/bags', formData).then(response => {
	            	
	            	window.location.href = `/bags/${this.bag.slug}`;

	            }).catch(error => {

                    this.errors = error.response.data.errors;
	            });
	    	},
	    	processFile (event) {
    			this.file = event.target.files[0]
    			console.log(this.file)
  			}
	    }
	};
</script>