<template>
	<div class="row">
		<div class="col">
			<div class="card" v-if="products.length > 0">
			  	<div class="card-body item" v-for="product in products">
					<div class="row">
						<div class="item__image">
				  			<img class="img-fluid" :src="[ product.image === null ? '/images/logo.png' : '/storage/' + product.image ]" :alt="category.name" height="160">
						</div>
						<div class="item__info-container">
				    		<h2 class="item__title">
				    			<span class="font-weight-light">
				    				{{ product.name }}
				    			</span>
				    		</h2>
				    		<div class="price__fraction">
				    			<div class="item__price">
					    			<span class="price__symbol">$</span>
					    			<span class="price__fraction" v-if="[offer == true]">
					    				{{ product.feeresale }}
					    				<h5>
					   	    				<span class="price__symbol">$</span>
					    					<strike>
						    					{{ product.fee }}
						    				</strike>
					    				</h5>
					    			</span>
					    			<span class="price__fraction" v-else>
					    				{{ product.feeresale }}
					    			</span>
				    			</div>
				    		</div>
				    		<button type="button" v-on:click="getShowProduct(product.slug)" class="btn btn-primary btn-sm">Leer más</button>
						</div>
					</div>
			  	</div>
				<div class="card-footer">
					<nav aria-label="nav">
		                <ul class="pagination justify-content-end mb-0">
		                    <li class="page-item" v-if="pagination.current_page > 1">
		                        <a class="page-link" href="#" tabindex="-1" @click.prevent="changePage(pagination.current_page - 1)">
		                            <i class="fas fa-angle-left"></i>
		                            <span class="sr-only">Previous</span>
		                        </a>
		                    </li>
		                    <li v-bind:class="[ 'page-item', page == isActived ? 'active' : '' ]" v-for="page in pagesNumber">
		                        <a class="page-link" href="#" @click.prevent="changePage(page)">{{ page }}</a>
		                    </li>
		                    <li class="page-item" v-if="pagination.current_page < pagination.last_page">
		                        <a class="page-link" href="#" @click.prevent="changePage(pagination.current_page + 1)">
		                            <i class="fas fa-angle-right"></i>
		                            <span class="sr-only">Next</span>
		                        </a>
		                    </li>
		                </ul>
		            </nav>
				</div>
			</div>
		  	<div class="card" v-else>
		  		<div class="card-body item">
		  			<h1 class="card-title font-weight-light text-center">NO HAY PRODUCTOS DISPONIBLES</h1>
		  			<p class="text-center">Te invitamos a seguir navegando en nuestro sitio, hay una gran variedad de opciones para ti!</p>
		  		</div>
		  	</div>
		</div>
	</div>
</template>
<script>
	export default {
		created: function () {
            this.getProducts()
        },
		props: ['category'],
		data () {
        	return {
                pagination: {
                    'total': 0,
                    'current_page': 0,
                    'per_page': 0,
                    'last_page': 0,
                    'from': 0,
                    'to': 0,
                },
                products: [],
                offset: 3
            }
        },
        computed: {
            isActived: function () {
                return this.pagination.current_page;
            },
            pagesNumber: function () {
                
                if (!this.pagination.to) {
                    return [];
                }

                let from = this.pagination.current_page - this.offset;
                
                if ( from < 1) {
                    from = 1;
                }

                let to = from + (this.offset * 2);

                if (to >= this.pagination.last_page) {
                    to = this.pagination.last_page;
                }

                let pagesArray = [];

                while (from <= to) {
                    pagesArray.push(from);
                    from++;
                }

                return pagesArray;
            }
        },
        methods: {
        	getShowProduct: function (slug) {

        		window.location.href = `/store/product/${slug}`;

        	},
            getProducts: function (page) {
                
                let urlProducts = `/store/${this.category}?page=` + page;

                axios.get(urlProducts).then(response => {
                    this.products = response.data.products.data,
                    this.pagination = response.data.pagination
                });
            },
            changePage: function (page) {
                this.pagination.current_page = page;
                this.getProducts(page);
            }
        }
	};
</script>