<template>
	<div class="card-body">
		<form ref="form" id="createform" @submit.prevent="updateLink" autocomplete="off">
			<h6 class="heading-small mb-4">Información de enlace</h6>
			<div class="pl-lg-4">
				<div class="row">
                    <div class="col-md-12">
                       	<label class="form-control-label" for="input-title">Título</label>
                      	<div :class="[ 'form-group', errors.title ? ' has-danger' : '' ]">
                        	<input type="text" id="input-title" maxlength="115" :class="[ 'form-control', errors.title ? ' is-invalid' : '' ]" v-model="link.title" placeholder="Blins" required/>
                      	</div>
                    </div>
                    <div class="col-md-12">
                       	<label class="form-control-label" for="input-uri">Link</label>
                      	<div :class="[ 'form-group', errors.uri ? ' has-danger' : '' ]">
                        	<input type="text" id="input-uri" maxlength="115" :class="[ 'form-control', errors.uri ? ' is-invalid' : '' ]" v-model="link.uri" placeholder="www.example.com" required/>
                      	</div>
                    </div>
                </div>
			</div>
			<div class="pl-lg-4">
                <label class="form-control-label">Detalles</label>
              	<div :class="[ 'form-group', errors.detail ? ' has-danger' : '' ]">
               		<textarea rows="4" :class="[ 'form-control', errors.detail ? ' is-invalid' : '' ]" v-model="link.detail" placeholder="Características profesionales ..."></textarea>
              	</div>
            </div>
            <div class="pl-lg-4">
            	<div class="form-group">
            		<button type="submit" class="btn btn-success">Actualizar</button>
            	</div>
            </div>
		</form>
	</div>
</template>

<script>
	export default {
		props: ['link', 'http'],
		data () {
	        return {
	        	errors: []
	        }
	    },
	    methods: {
	    	updateLink: function () {
	   
	    		axios.put(this.http, {

                	title: this.link.title,
                	uri: this.link.uri,
                	detail: this.link.detail

	            }).then(response => {

	            	window.location.href = '/links';

	            }).catch(error => {
	              	
	              	this.errors = error.response.data.errors;
	            });
	    	}
	    }
	};
</script>