<template>
    <div>
        <div class="table-responsive">
        	<table class="table align-items-center table-flush">
            	<thead class="thead-gray">
              		<tr>
                		<th scope="col">Título</th>
                		<th scope="col">Enlace</th>
                		<th scope="col">Detalles</th>
                		<th scope="col"></th>
              		</tr>
            	</thead>
            	<tbody v-if="links.length > 0">
            		<tr v-for="(link, key) in links">
            			<td>{{ link.title }}</td>
            			<td>{{ link.uri }}</td>
            			<td>...</td>
            			<td class="text-right">
                            <a class="btn btn-warning btn-sm" href="javascript:void(0);" v-on:click="getLocationUpdate(link.slug)">Editar</a>
                            <a class="btn btn-danger btn-sm" href="javascript:void(0);" v-on:click="getDeleteLink(link.slug)">Eliminar</a>
                        </td>
            		</tr>	
        		</tbody>
                <tbody v-else>
        			<tr>
        				<td colspan="4">No hay enlaces registrados.</td>
        			</tr>
                </tbody>
            </table>
        </div>
        <div class="card-footer py-4">
            <nav aria-label="nav">
                <ul class="pagination justify-content-end mb-0">
                    <li class="page-item" v-if="pagination.current_page > 1">
                        <a class="page-link" href="#" tabindex="-1" @click.prevent="changePage(pagination.current_page - 1)">
                            <i class="fas fa-angle-left"></i>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li v-bind:class="[ 'page-item', page == isActived ? 'active' : '' ]" v-for="page in pagesNumber">
                        <a class="page-link" href="#" @click.prevent="changePage(page)">{{ page }}</a>
                    </li>
                    <li class="page-item" v-if="pagination.current_page < pagination.last_page">
                        <a class="page-link" href="#" @click.prevent="changePage(pagination.current_page + 1)">
                            <i class="fas fa-angle-right"></i>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</template>
<script>
	export default {
        created: function () {
            this.getLinks()
        },
		data () {
        	return {
                pagination: {
                    'total': 0,
                    'current_page': 0,
                    'per_page': 0,
                    'last_page': 0,
                    'from': 0,
                    'to': 0,
                },
                links: [],
                offset: 3
            }
        },
        computed: {
            isActived: function () {
                return this.pagination.current_page;
            },
            pagesNumber: function () {
                
                if (!this.pagination.to) {
                    return [];
                }

                let from = this.pagination.current_page - this.offset;
                
                if ( from < 1) {
                    from = 1;
                }

                let to = from + (this.offset * 2);

                if (to >= this.pagination.last_page) {
                    to = this.pagination.last_page;
                }

                let pagesArray = [];

                while (from <= to) {
                    pagesArray.push(from);
                    from++;
                }

                return pagesArray;
            }
        },
        methods: {
            getLinks: function (page) {
                let urlLinks = '/dataTable/links?page=' + page;

                axios.get(urlLinks).then(response => {
                    this.links = response.data.links.data,
                    this.pagination = response.data.pagination
                });
            },
        	getLocationUpdate: function (slug) {
        		
        		window.location.href = `/links/${slug}/edit`;
        	},

            getDeleteLink: function (slug) {

                let http = `/links/${slug}`;

                axios.delete(http).then(response => {

                    window.location.href = '/links';
                });
            },
            changePage: function (page) {
                this.pagination.current_page = page;
                this.getLinks(page);
            }
        }
	};
</script>