<template>
	<form ref="form" id="updateForm" @submit.prevent="updateProfile" autocomplete="off">
	    <h6 class="heading-small mb-4">Información</h6>
	    <div class="pl-lg-4">
	      	<div class="row">
	        	<div class="col-12 col-lg-6">
		           	<label class="form-control-label" for="input-names">Nombres</label>
	          		<div :class="[ 'form-group', errors.names ? ' has-danger' : '' ]">
		            	<input type="text" id="input-names" :class="[ 'form-control', errors.names ? ' is-invalid' : '' ]" v-model="user.names" required/>
		          	</div>
		        </div>
		        <div class="col-12 col-lg-6">
		           	<label class="form-control-label" for="input-surnames">Apellidos</label>
		          	<div :class="[ 'form-group', errors.surnames ? ' has-danger' : '' ]">
		            	<input type="text" id="input-surnames" :class="[ 'form-control', errors.surnames ? ' is-invalid' : '' ]" v-model="user.surnames" required/>
		          	</div>
		        </div>
	      	</div>
	      	<div class="row">
	        	<div class="col-lg-12">
	            	<label class="form-control-label" for="input-email">Correo electrónico</label>
	          		<div :class="[ 'form-group', errors.email ? ' has-danger' : '' ]">
	            		<input type="text" id="input-first-email" :class="[ 'form-control', errors.email ? ' is-invalid' : '' ]" v-model="user.email" readonly/>
	          		</div>
	        	</div>
	      	</div>
	    </div>
	    <hr class="my-4" />
	    <!-- Password -->
	    <h6 class="heading-small mb-4">Restablecer contraseña</h6>
	    <div class="pl-lg-4">
	      	<div class="row">
	        	<div class="col-12 col-md-6">
	            	<label class="form-control-label" for="input-password">Contraseña</label>
	          		<div :class="[ 'form-group', errors.password ? ' has-danger' : '' ]">
	            		<input type="password" id="input-password" min="6" v-model="password" :class="[ 'form-control', errors.password ? ' is-invalid' : '' ]"/>
	          		</div>
	        	</div>
	        	<div class="col-12 col-md-6">
		           	<label class="form-control-label" for="input-password_confirmation">Confirmar contraseña</label>
		          	<div :class="[ 'form-group', errors.password_confirmation ? ' has-danger' : '' ]">
		            	<input type="password" id="input-password_confirmation" min="6" v-model="password_confirmation" :class="[ 'form-control', errors.password_confirmation ? ' is-invalid' : '' ]"/>
		          	</div>
	        	</div>
	      	</div>
	    </div>
	    <div class="pl-lg-4">
        	<div class="form-group">
        		<button type="submit" class="btn btn-success">Guardar</button>
        	</div>
        </div>
  	</form>
</template>
<script>
	export default {
		props: ['user'],
		data () {
	        return {
	        	password: '',
	        	password_confirmation: '',
	        	errors: []
	        }
	    },
	    methods: {
	    	updateProfile: function () {

	    		let http = 'profile';

	    		axios.post(http, {

					names: this.user.names,
					surnames: this.user.surnames,
					password: this.password,
					password_confirmation: this.password_confirmation

				}).then(response => {

					window.location.href = '/profile';

				}).catch(error => {
					
					this.errors = error.response.data.errors;
				});
	    	}
	    }
	};
</script>