<template>
	<div class="card-body">
		<form ref="form" id="createform" @submit.prevent="storeWork" autocomplete="off">
			<h6 class="heading-small mb-4">Información de postulación</h6>
			<div class="pl-lg-4">
				<div class="row">
					<div class="col-md-12">
						<label class="form-control-label" for="input-title">Título</label>
						<div :class="[ 'form-group', errors.title ? ' has-danger' : '' ]">
							<input type="text" maxlength="130" id="input-title" :class="[ 'form-control', errors.title ? ' is-invalid' : '' ]" v-model="title" placeholder="Atencion al cliente" required/>
						</div>
					</div>
				</div>
			</div>
			<div class="pl-lg-4">
				<div class="row">
					<div class="col-12 col-md-6">
						<label class="form-control-label" for="input-area">Área</label>
						<div :class="[ 'form-group', errors.area ? ' has-danger' : '' ]">
							<input type="text" maxlength="50" id="input-area" :class="[ 'form-control', errors.area ? ' is-invalid' : '' ]" v-model="area" placeholder="Ventas" required/>
						</div>
					</div>
					<div class="col-12 col-md-6">
						<label class="form-control-label" for="input-occupancy">Cargo</label>
						<div :class="[ 'form-group', errors.occupancy ? ' has-danger' : '' ]">
							<input type="text" maxlength="70" id="input-occupancy" :class="[ 'form-control', errors.occupancy ? ' is-invalid' : '' ]" v-model="occupancy" placeholder="Vendedor" required/>
						</div>
					</div>
				</div>
			</div>
			<div class="pl-lg-4">
				<div class="row">
					<div class="col-12 col-md-6">
						<label class="form-control-label" for="input-experience">Experiencia</label>
						<div :class="[ 'form-group', errors.experience ? ' has-danger' : '' ]">
							<input type="text" maxlength="65" id="input-experience" :class="[ 'form-control', errors.experience ? ' is-invalid' : '' ]" v-model="experience" required/>
						</div>
					</div>
					<div class="col-12 col-md-6">
						<label class="form-control-label" for="input-salary">Salario</label>
						<div :class="[ 'form-group', errors.salary ? ' has-danger' : '' ]">
							<input type="text" maxlength="70" id="input-salary" :class="[ 'form-control', errors.salary ? ' is-invalid' : '' ]" v-model="salary" placeholder="" required/>
						</div>
					</div>
				</div>
			</div>
			<div class="pl-lg-4">
				<div class="row">
					<div class="col-12 col-md-6">
						<label class="form-control-label" for="input-contact">Contacto (E-mail, Skype)</label>
						<div :class="[ 'form-group', errors.contact ? ' has-danger' : '' ]">
							<input type="text" maxlength="55" id="input-contact" :class="[ 'form-control', errors.contact ? ' is-invalid' : '' ]" v-model="contact" required/>
						</div>
					</div>
					<div class="col-12 col-md-6">
						<label class="form-control-label" for="input-work_end">Fecha de culminación</label>
						<div :class="[ 'form-group', errors.work_end ? ' has-danger' : '' ]">
							<input type="date" id="input-work_end" :class="[ 'form-control', errors.work_end ? ' is-invalid' : '' ]" v-model="work_end" required/>
						</div>
					</div>
				</div>
			</div>
			<div class="pl-lg-4">
				<label class="form-control-label" for="detail">Detalles</label>
				<div :class="[ 'form-group', errors.detail ? ' has-danger' : '' ]">
					<textarea rows="4" id="detail" :class="[ 'form-control', errors.detail ? ' is-invalid' : '' ]" v-model="detail" placeholder="Que ofrece ..."></textarea>
				</div>
			</div>
			<div class="pl-lg-4">
                <div class="form-group">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" @change="processFile($event)" accept="image/png, image/jpeg"/>
                        <label class="custom-file-label" for="customFile">Subir imagen</label>
                    </div>
                </div>
            </div>
			<div class="pl-lg-4">
				<div class="form-group">
					<button type="submit" class="btn btn-success">Guardar</button>
				</div>
			</div>
		</form>
	</div>
</template>
<script>
	export default {
		data () {
			return {
				title: '',
				area: '',
				occupancy: '',
				experience: '',
				detail: '',
				salary: '',
				contact: '',
				work_end: '',
				file: '',
				errors: []
			}
		},
		methods: {
			processFile (event) {
    			this.file = event.target.files[0]
  			},
			storeWork: function () {

				let http = '/works';
				let formData = new FormData();

	    		formData.append('title', this.title)
	    		formData.append('area', this.area)
	    		formData.append('occupancy', this.occupancy)
	    		formData.append('experience', this.experience)
	    		formData.append('detail', this.detail)
	    		formData.append('salary', this.salary)
	    		formData.append('contact', this.contact)
	    		formData.append('work_end', this.work_end)
	    		formData.append('file', this.file)

				axios.post(http, formData).then(response => {

					window.location.href = '/works';

				}).catch(error => {
					
					this.errors = error.response.data.errors;
				});
			}
		}
	};
</script>