<template>
	<div class="card-body">
		<form ref="form" id="createform" @submit.prevent="updateWork" autocomplete="off">
			<h6 class="heading-small mb-4">Información de postulación</h6>
			<div class="pl-lg-4">
				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<label class="form-control-label" for="input-title">Título</label>
							<input type="text" maxlength="130" id="input-title" class="form-control" v-model="work.title" placeholder="Atencion al cliente" required/>
						</div>
					</div>
				</div>
			</div>
			<div class="pl-lg-4">
				<div class="row">
					<div class="col-12 col-md-6">
						<div class="form-group">
							<label class="form-control-label" for="input-area">Área</label>
							<input type="text" maxlength="50" id="input-area" class="form-control" v-model="work.area" placeholder="Ventas" required/>
						</div>
					</div>
					<div class="col-12 col-md-6">
						<div class="form-group">
							<label class="form-control-label" for="input-occupancy">Cargo</label>
							<input type="text" maxlength="70"  id="input-occupancy" class="form-control" v-model="work.occupancy" placeholder="Vendedor" required/>
						</div>
					</div>
				</div>
			</div>
			<div class="pl-lg-4">
				<div class="row">
					<div class="col-12 col-md-6">
						<div class="form-group">
							<label class="form-control-label" for="input-experience">Experiencia</label>
							<input type="text" maxlength="65" id="input-experience" class="form-control" v-model="work.experience" required/>
						</div>
					</div>
					<div class="col-12 col-md-6">
						<div class="form-group">
							<label class="form-control-label" for="input-salary">Salario</label>
							<input type="text" maxlength="70" id="input-salary" class="form-control" v-model="work.salary" placeholder="" required/>
						</div>
					</div>
				</div>
			</div>
			<div class="pl-lg-4">
				<div class="row">
					<div class="col-12 col-md-6">
						<div class="form-group">
							<label class="form-control-label" for="input-contact">Contacto (E-mail, Skype)</label>
							<input type="text" maxlength="55" id="input-contact" class="form-control" v-model="work.contact" required/>
						</div>
					</div>
					<div class="col-12 col-md-6">
						<div class="form-group">
							<label class="form-control-label" for="input-work_end">Fecha de culminación</label>
							<input type="date" id="input-work_end" class="form-control" v-model="work.work_end" required/>
						</div>
					</div>
				</div>
			</div>
			<div class="pl-lg-4">
				<div class="form-group">
					<label>Detalles</label>
					<textarea rows="4" class="form-control form-control-alternative" v-model="work.detail" placeholder="Que ofrece ..."></textarea>
				</div>
			</div>
			<div class="pl-lg-4">
                <div class="form-group">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" @change="processFile($event)" accept="image/png, image/jpeg"/>
                        <label class="custom-file-label" for="customFile">Subir imagen</label>
                    </div>
                </div>
            </div>
			<div class="pl-lg-4">
				<div class="form-group">
					<button type="submit" class="btn btn-success">Actualizar</button>
				</div>
			</div>
		</form>
	</div>
</template>
<script>
	export default {
		props: ['work', 'http'],
		data () {
			return {
				file: '',
				errors: []
			}
		},
		methods: {
			processFile (event) {
    			this.file = event.target.files[0]
  			},
			updateWork: function () {

				let formData = new FormData();

	    		formData.append('title', this.work.title)
	    		formData.append('area', this.work.area)
	    		formData.append('occupancy', this.work.occupancy)
	    		formData.append('experience', this.work.experience)
	    		formData.append('detail', this.work.detail)
	    		formData.append('salary', this.work.salary)
	    		formData.append('contact', this.work.contact)
	    		formData.append('work_end', this.work.work_end)
	    		formData.append('file', this.file)

				axios.post(this.http, formData).then(response => {

					window.location.href = '/works';

				}).catch(error => {
				  	
				  	this.errors = error.response.data.errors;

				});
			}
		}
	};
</script>