<template>
	<div class="card-body">
		<form ref="form" id="createform" @submit.prevent="updateCategory" autocomplete="off">
			<h6 class="heading-small mb-4">Información de categoría</h6>
			<div class="pl-lg-4">
				<div class="row">
                    <div class="col-md-12">
                        <label class="form-control-label" for="input-name">Nombre</label>
                      	<div :class="[ 'form-group', errors.name ? ' has-danger' : '' ]">
                        	<input type="text" id="input-name" :class="[ 'form-control', errors.name ? ' is-invalid' : '' ]" v-model="category.name" placeholder="Camaras" required/>
                      	</div>
                    </div>
                </div>
			</div>
			<div class="pl-lg-4">
            	<label class="form-control-label" for="detail">Detalles</label>
                <div :class="[ 'form-group', errors.detail ? ' has-danger' : '' ]">
                    <textarea rows="4" id="detail" :class="[ 'form-control', errors.detail ? ' is-invalid' : '' ]" v-model="category.detail" placeholder="Características profesionales ..."></textarea>
                </div>
            </div>
            <div class="pl-lg-4">
                <div class="form-group">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" @change="processFile($event)" accept="image/png, image/jpeg"/>
                        <label class="custom-file-label" for="customFile">Subir imagen</label>
                    </div>
                </div>
            </div>
            <div class="pl-lg-4">
            	<div class="form-group">
            		<button type="submit" class="btn btn-success">Actualizar</button>
            	</div>
            </div>
		</form>
	</div>
</template>
<script>
	export default {
		props: ['category', 'http'],
		data () {
        	return {
                file: '',
                errors: []
            }
        },
        methods: {
            processFile (event) {
                this.file = event.target.files[0]
            },
        	updateCategory: function () {

        		let formData = new FormData();

                formData.append('name', this.category.name)
                formData.append('detail', this.category.detail)
                formData.append('file', this.file)

        		axios.post(this.http, formData).then(response => {

					window.location.href = '/categories';

	            }).catch(error => {

	            	this.errors = error.response.data.errors;
	            	
	            });
        	}
        }
	};
</script>