<template>
	<div class="card-body">
		<form ref="form" id="createform" @submit.prevent="storeNew" autocomplete="off">
			<h6 class="heading-small mb-4">Información de artículo</h6>
			<div class="pl-lg-4">
				<div class="row">
                    <div class="col-md-12">
                        <label class="form-control-label" for="input-title">Título</label>
                      	<div :class="[ 'form-group', errors.title ? ' has-danger' : '' ]">
                        	<input type="text" id="input-title" :class="[ 'form-control', errors.title ? ' is-invalid' : '' ]" v-model="title" placeholder="Blins" required/>
                      	</div>
                    </div>
                </div>
			</div>
			<div class="pl-lg-4">
				<div class="row">
					<div class="col-md-6">
						<label class="form-control-label" for="input-date_ini">Fecha Inicio</label>
						<div :class="[ 'form-group', errors.date_ini ? ' has-danger' : '' ]">
                        	<input type="date" id="input-date_ini" :class="[ 'form-control', errors.date_ini ? ' is-invalid' : '' ]" v-model="date_ini" required/>
                      	</div>
					</div>
					<div class="col-md-6">
						<label class="form-control-label" for="input-date_end">Fecha Final</label>
						<div :class="[ 'form-group', errors.date_end ? ' has-danger' : '' ]">
                        	<input type="date" id="input-date_end" :class="[ 'form-control', errors.date_end ? ' is-invalid' : '' ]" v-model="date_end" required/>
                      	</div>
					</div>
				</div>
			</div>
			<div class="pl-lg-4">
                <label class="form-control-label" for="detail">Detalles</label>
              	<div :class="[ 'form-group', errors.detail ? ' has-danger' : '' ]">
               		<textarea rows="4" id="detail" :class="[ 'form-control', errors.detail ? ' is-invalid' : '' ]" v-model="detail" placeholder="Características del artículo ..."></textarea>
              	</div>
            </div>
            <div class="pl-lg-4">
            	<div class="form-group">
            		<button type="submit" class="btn btn-success">Guardar</button>
            	</div>
            </div>
		</form>
	</div>
</template>

<script>
	export default {
		data () {
	        return {
	            title: '',
	            detail: '',
	            errors: []
	        }
	    },
	    methods: {
	    	storeNew: function () {
	    		
	    		let http = '/news';

	    		axios.post(http, {

                	title: this.title,
                	date_ini: this.date_ini,
                	date_end: this.date_end,
                	detail: this.detail

	            }).then(response => {

	            	window.location.href = '/news';

	            }).catch(error => {
	              	
	              	this.errors = error.response.data.errors;
	            });
	    	}
	    }
	};
</script>