<template>
	<div class="card-body">
		<form ref="form" id="createform" @submit.prevent="updateNew" autocomplete="off">
			<h6 class="heading-small mb-4">Información de artículo</h6>
			<div class="pl-lg-4">
				<div class="row">
                    <div class="col-md-12">
                        <label class="form-control-label" for="input-title">Título</label>
                      	<div :class="[ 'form-group', errors.title ? ' has-danger' : '' ]">
                        	<input type="text" id="input-title" :class="[ 'form-control', errors.title ? ' is-invalid' : '' ]" v-model="article.title" placeholder="Blins" required/>
                      	</div>
                    </div>
                </div>
			</div>
			<div class="pl-lg-4">
                <label class="form-control-label" for="input-detail">Detalles</label>
              	<div :class="[ 'form-group', errors.detail ? ' has-danger' : '' ]">
               		<textarea rows="10" id="input-detail" cols="30" :class="[ 'form-control', errors.detail ? ' is-invalid' : '' ]" v-model="article.detail" placeholder="Características del artículo ..."></textarea>
              	</div>
            </div>
            <div class="pl-lg-4">
            	<div class="form-group">
            		<button type="submit" class="btn btn-success">Guardar</button>
            	</div>
            </div>
		</form>
	</div>
</template>
<script>
	export default {
		props: ['article', 'http'],
		data () {
			return {
				errors: []
			}
		},
		methods: {
			updateNew: function () {
				
				axios.put(this.http, {

                	title: this.article.title,
                	detail: this.article.detail

	            }).then(response => {

	            	window.location.href = '/news';

	            }).catch(error => {
	              	
	              	this.errors = error.response.data.errors;
	            });
			}
		}
	};
</script>