<template>
    <div>
        <div class="table-responsive">
        	<table class="table align-items-center table-flush">
            	<thead class="thead-gray">
              		<tr>
                		<th scope="col">Autor</th>
                		<th scope="col">Título</th>
                		<th scope="col">Detalles</th>
                		<th scope="col"></th>
              		</tr>
            	</thead>
            	<tbody v-if="news.length > 0">
            		<tr v-for="(article, key) in news">
            			<td>{{ article.user.names }}</td>
            			<td>{{ article.title }}</td>
                        <td>...</td>
                        <td class="text-right">
                            <a class="btn btn-warning btn-sm" href="javascript:void(0);" v-on:click="getLocationUpdate(article.slug)">Editar</a>
                            <a class="btn btn-danger btn-sm" href="javascript:void(0);" v-on:click="getDeleteNew(article.slug)">Eliminar</a>
                        </td>
            		</tr>	
        		</tbody>
        		<tbody v-else>
        			<tr>
        				<td colspan="4">No hay noticias registradas.</td>
        			</tr>
                </tbody>
            </table>
        </div>
        <div class="card-footer py-4" v-if="pagination.total > 10">
            <nav aria-label="nav">
                <ul class="pagination justify-content-end mb-0">
                    <li class="page-item" v-if="pagination.current_page > 1">
                        <a class="page-link" href="#" tabindex="-1" @click.prevent="changePage(pagination.current_page - 1)">
                            <i class="fas fa-angle-left"></i>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li v-bind:class="[ 'page-item', page == isActived ? 'active' : '' ]" v-for="page in pagesNumber">
                        <a class="page-link" href="#" @click.prevent="changePage(page)">{{ page }}</a>
                    </li>
                    <li class="page-item" v-if="pagination.current_page < pagination.last_page">
                        <a class="page-link" href="#" @click.prevent="changePage(pagination.current_page + 1)">
                            <i class="fas fa-angle-right"></i>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</template>
<script>
	export default {
        created: function () {
            this.getNews()
        },
		data () {
        	return {
                pagination: {
                    'total': 0,
                    'current_page': 0,
                    'per_page': 0,
                    'last_page': 0,
                    'from': 0,
                    'to': 0,
                },
                news: [],
                offset: 3
            }
        },
        computed: {
            isActived: function () {
                return this.pagination.current_page;
            },
            pagesNumber: function () {
                
                if (!this.pagination.to) {
                    return [];
                }

                let from = this.pagination.current_page - this.offset;
                
                if ( from < 1) {
                    from = 1;
                }

                let to = from + (this.offset * 2);

                if (to >= this.pagination.last_page) {
                    to = this.pagination.last_page;
                }

                let pagesArray = [];

                while (from <= to) {
                    pagesArray.push(from);
                    from++;
                }

                return pagesArray;
            }
        },
        methods: {
            getNews: function (page) {
                let urlNews = '/dataTable/news?page=' + page;

                axios.get(urlNews).then(response => {
                    this.news = response.data.news.data;
                    this.pagination = response.data.pagination;
                });
            },
        	getLocationUpdate: function (slug) {
                
        		window.location.href = `/news/${slug}/edit`;
        	},

            getDeleteNew: function (slug) {

                let http = `/news/${slug}`;

                axios.delete(http).then(response => {

                    window.location.href = '/news';
                });
            },
            changePage: function (page) {
                this.pagination.current_page = page;
                this.getNews(page);
            }
        }
	};
</script>