<template>
    <div>
        <div class="table-responsive">
        	<table class="table align-items-center table-flush">
            	<thead class="thead-gray">
              		<tr>
                		<th scope="col">Título</th>
                		<th scope="col">Correo electrónico</th>
                		<th scope="col">Teléfono</th>
                		<th scope="col"></th>
              		</tr>
            	</thead>
            	<tbody v-if="messages.length > 0">
            		<tr v-for="(message, key) in messages">
            			<th>{{ message.title }}</th>
            			<td>{{ message.email }}</td>
            			<td>{{ message.phone }}</td>
            			<td class="text-right">
                            <a class="btn btn-primary btn-sm" href="javascript:void(0);" v-on:click="getLocationShow(message.slug)">Ver</a>
                            <a class="btn btn-success btn-sm" href="javascript:void(0);" v-on:click="getAnswer(message.slug)">Responder</a>
                        </td>
            		</tr>	
        		</tbody>
        		<tbody v-else>
        			<tr>
        				<td colspan="4">No hay mensajes de usuarios.</td>
        			</tr>
                </tbody>
            </table>
        </div>
        <div class="card-footer py-4">
            <nav aria-label="nav">
                <ul class="pagination justify-content-end mb-0">
                    <li class="page-item" v-if="pagination.current_page > 1">
                        <a class="page-link" href="#" tabindex="-1" @click.prevent="changePage(pagination.current_page - 1)">
                            <i class="fas fa-angle-left"></i>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li v-bind:class="[ 'page-item', page == isActived ? 'active' : '' ]" v-for="page in pagesNumber">
                        <a class="page-link" href="#" @click.prevent="changePage(page)">{{ page }}</a>
                    </li>
                    <li class="page-item" v-if="pagination.current_page < pagination.last_page">
                        <a class="page-link" href="#" @click.prevent="changePage(pagination.current_page + 1)">
                            <i class="fas fa-angle-right"></i>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</template>
<script>
	export default {
		created: function () {
            this.getMessages()
        },
		data () {
        	return {
                pagination: {
                    'total': 0,
                    'current_page': 0,
                    'per_page': 0,
                    'last_page': 0,
                    'from': 0,
                    'to': 0,
                },
                messages: [],
                offset: 3
            }
        },
        computed: {
            isActived: function () {
                return this.pagination.current_page;
            },
            pagesNumber: function () {
                
                if (!this.pagination.to) {
                    return [];
                }

                let from = this.pagination.current_page - this.offset;
                
                if ( from < 1) {
                    from = 1;
                }

                let to = from + (this.offset * 2);

                if (to >= this.pagination.last_page) {
                    to = this.pagination.last_page;
                }

                let pagesArray = [];

                while (from <= to) {
                    pagesArray.push(from);
                    from++;
                }

                return pagesArray;
            }
        },
        methods: {
            getMessages: function (page) {
                let urlMessages = '/dataTable/messages?page=' + page;

                axios.get(urlMessages).then(response => {
                    this.messages = response.data.messages.data,
                    this.pagination = response.data.pagination
                });
            },
        	getLocationShow: function (slug) {
        		
        		window.location.href = `/messages/${slug}`;
        	},

            getAnswer: function (slug) {
                //
            },
            changePage: function (page) {
                this.pagination.current_page = page;
                this.getMessages(page);
            }
        }
	};
</script>