<template> <div class="card-body">
		<form ref="form" id="createform" @submit.prevent="storeProduct" autocomplete="off" enctype="multipart/form-data">
			<h6 class="heading-small mb-4">Información de producto</h6>
			<div class="pl-lg-4">
				<div class="row">
					<div class="col-md-12">
						<label class="form-control-label" for="input-name">Nombre</label>
						<div :class="[ 'form-group', errors.name ? ' has-danger' : '' ]">
							<input type="text" maxlength="120" id="input-name" :class="[ 'form-control', errors.name ? ' is-invalid' : '' ]" v-model="name" placeholder="Alarma DSC 585" required/>
						</div>
					</div>
				</div>
			</div>
			<div class="pl-lg-4">
                <div class="row">
                    <div class="col-md-12">
                    	<label class="form-control-label" for="input-category">Categoría</label>
                    	<div :class="[ 'form-group', errors.category ? ' has-danger' : '' ]">
                    		<select id="input-category" :class="[ 'form-control', errors.category ? ' is-invalid' : '' ]" v-model="category" required>
                    			<option value="" selected disabled>[Seleccione]</option>
                    			<option v-for="category in categories" :value="category.id">{{ category.name }}</option>
                    		</select>
                    	</div>
                    </div>
                </div>
            </div>
            <div class="pl-lg-4">
            	<div class="row">
            		<div class="col-12 col-md-6">
						<label class="form-control-label" for="input-fee">Precio</label>
						<div :class="[ 'form-group', errors.fee ? ' has-danger' : '' ]">
							<input type="text" min="1" id="input-fee" :class="[ 'form-control', errors.fee ? ' is-invalid' : '' ]" v-model="fee" placeholder="585"/>
						</div>
					</div>
            		<div class="col-12 col-md-6">
						<label class="form-control-label" for="input-feeresale">Precio de alquiler</label>
						<div :class="[ 'form-group', errors.feeresale ? ' has-danger' : '' ]">
							<input type="text" min="1" pattern="^[0-9]+" id="input-feeresale" :class="[ 'form-control', errors.feeresale ? ' is-invalid' : '' ]" v-model="feeresale" placeholder="600" required/>
						</div>
					</div>
            	</div>
            </div>
            <div class="pl-lg-4">
            	<div class="row">
            		<div class="col-md-12">
            			<div class="form-group">
							<label class="form-control-label" for="input-feature">Características</label>
							<div class="input-group">
								<input type="text" maxlength="50" id="input-feature" class="form-control" v-model="feature" placeholder="Sistema de alarmas"/>
	        					<div class="input-group-prepend">
	        						<button type="button" v-on:click="getFeature" class="btn btn-success">Guardar</button>
								</div>
							</div>
						</div>
					</div>
				</div>
            </div>
            <div class="pl-lg-4">
            	<div class="row">
            		<div class="col-md-12" v-for="(feature, key) in features">
            			<div class="form-group">
							<div class="input-group">
								<input type="text" class="form-control" :value="feature" readonly/>
	        					<div class="input-group-prepend">
	        						<button type="button" v-on:click="getOutFeature(key)" class="btn btn-danger">Quitar</button>
								</div>
							</div>
						</div>
					</div>
            	</div>
            </div>
            <h6 class="heading-small mb-4">Información de oferta</h6>
            <div class="pl-lg-4">
            	<div class="row">
            		<div class="col-md-12">
						<label class="form-control-label" for="input-feeoffer">Promoción</label>
						<div :class="[ 'form-group', errors.feeoffer ? ' has-danger' : '' ]">
							<input type="text" min="1" pattern="^[0-9]+" id="input-feeoffer" :class="[ 'form-control', errors.feeoffer ? ' is-invalid' : '' ]" v-model="feeoffer" placeholder="375"/>
						</div>
					</div>
				</div>
			</div>
			<div class="pl-lg-4">
            	<div class="row">
            		<div class="col-12 col-md-6">
            			<label class="form-control-label" for="input-offer_begin">Comienza</label>
            			<div :class="[ 'form-group', errors.offer_begin ? ' has-danger' : '' ]">
							<input type="date" id="input-offer_begin" :class="[ 'form-control', errors.offer_begin ? ' is-invalid' : '' ]" v-model="offer_begin"/>
						</div>
            		</div>
            		<div class="col-12 col-md-6">
            			<label class="form-control-label" for="input-offer_end">Termina</label>
        				<div :class="[ 'form-group', errors.offer_end ? ' has-danger' : '' ]">
							<input type="date" id="input-offer_end" :class="[ 'form-control', errors.offer_end ? ' is-invalid' : '' ]" v-model="offer_end"/>
						</div>
            		</div>
            	</div>
            </div>
            <div class="pl-lg-4">
				<label class="form-control-label">Detalles</label>
				<div :class="[ 'form-group', errors.detail ? ' has-danger' : '' ]">
					<textarea rows="4" :class="[ 'form-control', errors.detail ? ' is-invalid' : '' ]" v-model="detail" placeholder="Breve descripción del producto ..."></textarea>
				</div>
			</div>
			<div class="pl-lg-4">
                <div class="form-group">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" @change="processFile($event)" accept="image/png, image/jpeg"/>
                        <label class="custom-file-label" for="customFile">Subir imagen</label>
                    </div>
                </div>
            </div>
            <div class="pl-lg-4">
            	<div class="form-group">
            		<button type="submit" class="btn btn-success">Guardar</button>
            	</div>
            </div>
		</form>
	</div>
</template>
<script>
	export default {
		props: ['categories'],
		data () {
        	return {
        		name: '',
        		fee: '',
        		feeresale: '',
        		category: '',
        		detail: '',
        		offer: '',
        		offer_begin: '',
        		offer_end: '',
        		feeoffer: '',
        		feature: '',
        		features: [],
        		file: '',
        		errors: []
        	}
        },
        methods: {
        	processFile (event) {
    			this.file = event.target.files[0]
  			},
        	getFeature: function () {

        		if ( 
        			this.feature != '' ) {
	        		
	        		this.features.push(this.feature);
	          		this.feature = '';
        		}
        	},
        	getOutFeature: function (key) {

        		Vue.delete(this.features, key)

        	},
        	storeProduct: function () {

        		let http = '/products';

        		let formData = new FormData();
        		
        		for (var i = 0; i < this.features.length; i++) {
        			
        			formData.append('features[]', this.features[i]);
        		}

        		formData.append('name', this.name)
        		formData.append('fee', this.fee)
        		formData.append('feeresale', this.feeresale)
        		formData.append('category', this.category)
        		formData.append('detail', this.detail)
        		formData.append('file', this.file)
        		formData.append('offer', this.offer)
        		formData.append('offer_begin', this.offer_begin)
        		formData.append('offer_end', this.offer_end)
        		formData.append('feeoffer', this.feeoffer)

        		axios.post(http, formData).then(response => {

	            	window.location.href = '/products';

	            }).catch(error => {

	                this.errors = error.response.data.errors;
	            });
        	}
        }
	};
</script>