<template>
	<div class="card-body">
		<form ref="form" id="createform" @submit.prevent="updateProduct" autocomplete="off">
			<h6 class="heading-small mb-4">Información del producto</h6>
			<div class="pl-lg-4">
				<div class="row">
					<div class="col-md-12">
						<label class="form-control-label" for="input-name">Nombre</label>
						<div :class="[ 'form-group', errors.name ? ' has-danger' : '' ]">
							<input type="text" maxlength="120" id="input-name" :class="[ 'form-control', errors.name ? ' is-invalid' : '' ]" v-model="product.name" placeholder="Alarma DSC 585" required/>
						</div>
					</div>
				</div>
			</div>
			<div class="pl-lg-4">
                <div class="row">
                    <div class="col-md-12">
                    	<label class="form-control-label" for="input-category">Categoría</label>
                    	<div :class="[ 'form-group', errors.category ? ' has-danger' : '' ]">
                    		<select id="input-category" :class="[ 'form-control', errors.category ? ' is-invalid' : '' ]" v-model="product.category_ui" required>
                    			<option v-for="category in categories" :value="category.id">{{ category.name }}</option>
                    		</select>
                    	</div>
                    </div>
                </div>
            </div>
            <div class="pl-lg-4">
            	<div class="row">
            		<div class="col-12 col-md-6">
						<label class="form-control-label" for="input-fee">Precio</label>
						<div :class="[ 'form-group', errors.fee ? ' has-danger' : '' ]">
							<input type="text" min="1" pattern="^[0-9]+" id="input-fee" :class="[ 'form-control', errors.fee ? ' is-invalid' : '' ]" v-model="product.fee" placeholder="585" required/>
						</div>
					</div>
            		<div class="col-12 col-md-6">
						<label class="form-control-label" for="input-feeresale">Precio de alquiler</label>
						<div :class="[ 'form-group', errors.feeresale ? ' has-danger' : '' ]">
							<input type="text" min="1" pattern="^[0-9]+" id="input-feeresale" :class="[ 'form-control', errors.feeresale ? ' is-invalid' : '' ]" v-model="product.feeresale" placeholder="600" required/>
						</div>
					</div>
            	</div>
            </div>
            <div class="pl-lg-4">
            	<div class="row">
            		<div class="col-md-12">
            			<div class="form-group">
							<label class="form-control-label" for="input-feature">Características</label>
							<div class="input-group">
								<input type="text" maxlength="50" id="input-feature" class="form-control" v-model="feature" placeholder="Sistema de alarmas"/>
	        					<div class="input-group-prepend">
	        						<button type="button" v-on:click="getFeature" class="btn btn-success">Guardar</button>
								</div>
							</div>
						</div>
					</div>
				</div>
            </div>
            <div class="pl-lg-4">
            	<div class="row">
            		<div class="col-md-12" v-for="(feature, key) in features">
            			<div class="form-group">
							<div class="input-group">
								<input type="text" class="form-control" :value="feature" readonly/>
	        					<div class="input-group-prepend">
	        						<button type="button" v-on:click="getOutFeature(key)" class="btn btn-danger">Quitar</button>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-12" v-for="(feature, key) in featuresArray">
            			<div class="form-group">
							<div class="input-group">
								<input type="text" class="form-control" :value="feature.detail" readonly/>
	        					<div class="input-group-prepend">
	        						<button type="button" v-on:click="getOutFeatureData(key, feature.id)" class="btn btn-danger">Borrar</button>
								</div>
							</div>
						</div>
					</div>
            	</div>
            </div>
            <h6 class="heading-small mb-4">Información de oferta</h6>
            <div class="pl-lg-4">
            	<div class="row">
            		<div class="col-md-12">
						<label class="form-control-label" for="input-feeoffer">Promoción</label>
						<div :class="[ 'form-group', errors.feeoffer ? ' has-danger' : '' ]">
							<input type="text" min="1" pattern="^[0-9]+" id="input-feeoffer" :class="[ 'form-control', errors.feeoffer ? ' is-invalid' : '' ]" v-model="product.feeoffer" placeholder="375"/>
						</div>
					</div>
				</div>
			</div>
			<div class="pl-lg-4">
            	<div class="row">
            		<div class="col-12 col-md-6">
            			<div :class="[ 'form-group', errors.offer_begin ? ' has-danger' : '' ]">
            				<label class="form-control-label" for="input-offer_begin">Comienza</label>
							<input type="date" id="input-offer_begin" :class="[ 'form-control', errors.offer_begin ? ' is-invalid' : '' ]" v-model="product.offer_begin"/>
						</div>
            		</div>
            		<div class="col-12 col-md-6">
            			<label class="form-control-label" for="input-offer_end">Termina</label>
        				<div :class="[ 'form-group', errors.offer_end ? ' has-danger' : '' ]">
							<input type="date" id="input-offer_end" :class="[ 'form-control', errors.offer_end ? ' is-invalid' : '' ]" v-model="product.offer_end"/>
						</div>
            		</div>
            	</div>
            </div>
            <div class="pl-lg-4">
				<label class="form-control-label" for="input-detail">Detalles</label>
				<div :class="[ 'form-group', errors.detail ? ' has-danger' : '' ]">
					<textarea rows="4" id="input-detail" :class="[ 'form-control', errors.detail ? ' is-invalid' : '' ]" v-model="product.detail" placeholder="Breve descripción del producto ..."></textarea>
				</div>
			</div>
			<div class="pl-lg-4">
                <div class="form-group">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" @change="processFile($event)" accept="image/png, image/jpeg"/>
                        <label class="custom-file-label" for="customFile">Subir imagen</label>
                    </div>
                </div>
            </div>
            <div class="pl-lg-4">
            	<div class="form-group">
            		<button type="submit" class="btn btn-success">Guardar</button>
            	</div>
            </div>
		</form>
	</div>
</template>
<script>
	export default {
		props: ['product', 'http', 'categories'],
		data () {
			return {
				featuresArray: this.product.features,
				feature: '',
				file: '',
				features: [],
				errors: []
			}
		},
		methods: {
			getFeature: function () {
        		if ( 
        			this.feature != '' ) {
	        		
	        		this.features.push(this.feature);
	          		this.feature = '';
        		}
        	},
        	getOutFeature: function (key) {

        		Vue.delete(this.features, key)

        	},
        	getOutFeatureData: function (key, id) {

        		let http = `/feature/${id}/delete`;

        		axios.get(http).then(response => {

    				Vue.delete(this.featuresArray, key)
    			
	    		}).catch(error => {

	    			console.log(error);
	    		});
        	},
        	processFile (event) {
    			this.file = event.target.files[0]
  			},
        	updateProduct: function () {

        		let formData = new FormData();
        		
        		for (var i = 0; i < this.features.length; i++) {
        			
        			formData.append('features[]', this.features[i]);
        		}

        		formData.append('name', this.product.name)
        		formData.append('fee', this.product.fee)
        		formData.append('feeresale', this.product.feeresale)
        		formData.append('category', this.product.category_ui)
        		formData.append('detail', this.product.detail)
        		formData.append('file', this.file)
        		formData.append('offer', this.product.offer)
        		formData.append('offer_begin', this.product.offer_begin)
        		formData.append('offer_end', this.product.offer_end)
        		formData.append('feeoffer', this.product.feeoffer)

        		axios.post(this.http, formData).then(response => {

	            	window.location.href = '/products';

	            }).catch(error => {

	                this.errors = error.response.data.errors;
	            });

        	}
		}
	};
</script>