<template>
	<div class="card-body">
		<h6 class="heading-small mb-4">Imagen principal</h6>
		<div class="row">
			<div class="col">
	            <div class="form-group">
	                <div class="custom-file">
	                    <input type="file" class="custom-file-input" @change="processFile($event)" accept="image/png, image/jpeg"/>
	                    <label class="custom-file-label" for="customFile">Subir imagen</label>
	                </div>
	            </div>
			</div>
        </div>
		<div class="table-responsive">
        	<table class="table align-items-center table-flush">
            	<thead class="thead-gray">
              		<tr>
                		<th scope="col">Nombre</th>
                		<th scope="col">Opción</th>
              		</tr>
            	</thead>
            	<tbody>
            		<tr>
            			<td>{{ product.image }}</td>
            			<td>
            				<a href="#" @click="deleteImg(product.slug)" class="btn btn-danger btn-sm text-white">Borrar</a>
            			</td>
            		</tr>
            		<tr v-for="image in product.images">
            			<td>{{ image.image }}</td>
            			<td>
            				<a href="#" @click="deleteImg(product.slug)" class="btn btn-danger btn-sm text-white">Borrar</a>
            			</td>
            		</tr>
            	</tbody>
            </table>
        </div>
	</div>
</template>
<script>
export default {
	props: ['product'],
	data () {
		return {	
		}
	},
	methods: {
		deleteImg: function (slug) {
			alert('hola')
		}
	}
};
</script>