<template>
	<div class="card-body">
		<form ref="form" id="createform" @submit.prevent="storeUser" autocomplete="off">
			<h6 class="heading-small mb-4">Información de usuario</h6>
			<div class="pl-lg-4">
				<div class="row">
                    <div class="col-md-12">
                       	<label class="form-control-label" for="input-names">Nombres</label>
                      	<div :class="[ 'form-group', errors.names ? ' has-danger' : '' ]">
                        	<input type="text" id="input-names" :class="[ 'form-control', errors.names ? ' is-invalid' : '' ]" v-model="names" placeholder="Damián" required/>
                      	</div>
                    </div>
                    <div class="col-md-12">
                       	<label class="form-control-label" for="input-surnames">Apellidos</label>
                      	<div :class="[ 'form-group', errors.surnames ? ' has-danger' : '' ]">
                        	<input type="text" id="input-surnames" :class="[ 'form-control', errors.surnames ? ' is-invalid' : '' ]" v-model="surnames" placeholder="Pérez" required/>
                      	</div>
                    </div>
                </div>
            </div>
            <div class="pl-lg-4">
				<div class="row">
					<div class="col-md-12">
                        <label class="form-control-label" for="input-email">Correo electrónico</label>
                      	<div :class="[ 'form-group', errors.email ? ' has-danger' : '' ]">
                        	<input type="email" id="input-email" :class="[ 'form-control', errors.email ? ' is-invalid' : '' ]" v-model="email" placeholder="example@blins.com" required/>
                      	</div>
                    </div>
				</div>
			</div>
			<div class="pl-lg-4">
                <div class="row">
                    <div class="col-md-12">
                        <label class="form-control-label" for="input-password">Contraseña</label>
                        <div :class="[ 'form-group', errors.password ? ' has-danger' : '' ]">
                            <input type="password" id="input-password" :class="[ 'form-control', errors.password ? ' is-invalid' : '' ]" v-model="password" required/>
                        </div>
                    </div>
                </div>
            </div> 
            <div class="pl-lg-4">
                <div class="row">
                    <div class="col-md-12">
                        <label class="form-control-label" for="input-password_confirmation">Confirmar contraseña</label>
                        <div :class="[ 'form-group', errors.password_confirmation ? ' has-danger' : '' ]">
                            <input type="password" id="input-password_confirmation" :class="[ 'form-control', errors.password_confirmation ? ' is-invalid' : '' ]" v-model="password_confirmation" required/>
                        </div>
                    </div>
                </div>
            </div> 
            <div class="pl-lg-4">
                <div class="row">
                    <div class="col-md-12">
                    	<label class="form-control-label" for="input-token">Confirmado</label>
                    	<div :class="[ 'form-group', errors.token_confirmed ? ' has-danger' : '' ]">
                    		<select id="token" :class="[ 'form-control', errors.token_confirmed ? ' is-invalid' : '' ]" v-model="token_confirmed" required>
                    			<option value="1" selected>SI</option>
                    			<option value="0">NO</option>
                    		</select>
                    	</div>
                    </div>
                </div>
            </div>
            <div class="pl-lg-4">
                <div class="row">
                    <div class="col-md-12">
                    	<label class="form-control-label" for="input-type">Categoría</label>
                    	<div :class="[ 'form-group', errors.type ? ' has-danger' : '' ]">
                    		<select id="type" :class="[ 'form-control', errors.type ? ' is-invalid' : '' ]" v-model="type" required>
                    			<option value="root" selected>Root</option>
                    			<option value="administrador">Administrador</option>
                    			<option value="customer">Cliente</option>
                    		</select>
                    	</div>
                    </div>
                </div>
            </div>
            <div class="pl-lg-4">
            	<div class="form-group">
            		<button type="submit" class="btn btn-success">Guardar</button>
            	</div>
            </div>
        </form>
    </div>
</template>
<script>
	export default {
		data () {
	        return {
	            names: '',
	            surnames: '',
	            email: '',
	            password: '',
	            password_confirmation: '',
	            token_confirmed: 1,
	            type: 'root',
                errors: []
	        }
	    },
	    methods: {
	    	storeUser: function () {

	    		let http = '/users';

	    		axios.post(http, {

                	names: this.names,
                	surnames: this.surnames,
                	email: this.email,
                	password: this.password,
                	password_confirmation: this.password_confirmation,
                	token_confirmed: this.token_confirmed,
                	type: this.type

	            }).then(response => {

	            	window.location.href = '/users';

	            }).catch(error => {
	               
                    this.errors = error.response.data.errors;
	            });
	    	}
	    }
	};
</script>