<template>
	<div class="card-body">
		<form ref="form" id="createform" @submit.prevent="updateUser" autocomplete="off">
			<h6 class="heading-small mb-4">Información de usuario</h6>
			<div class="pl-lg-4">
				<div class="row">
                    <div class="col-md-12">
                       	<label class="form-control-label" for="input-names">Nombres</label>
                      	<div class="form-group">
                        	<input type="text" id="input-names" class="form-control form-control-alternative" v-model="user.names" placeholder="Damián" required/>
                      	</div>
                    </div>
                    <div class="col-md-12">
                       	<label class="form-control-label" for="input-surnames">Apellidos</label>
                      	<div class="form-group">
                        	<input type="text" id="input-surnames" class="form-control form-control-alternative" v-model="user.surnames" placeholder="Pérez" required/>
                      	</div>
                    </div>
                </div>
            </div>
            <div class="pl-lg-4">
				<div class="row">
					<div class="col-md-12">
                        <label class="form-control-label" for="input-email">Correo electrónico</label>
                      	<div class="form-group">
                        	<input type="email" id="input-email" class="form-control form-control-alternative" v-model="user.email" placeholder="example@blins.com" required/>
                      	</div>
                    </div>
				</div>
			</div>
            <template v-if="resetPass == 'enabled'">
    			<div class="pl-lg-4">
                    <div class="row">
                        <div class="col-md-12">
                            <label class="form-control-label" for="input-password">Contraseña</label>
                            <div class="form-group">
                                <input type="password" id="input-password" class="form-control" v-model="password" required/>
                            </div>
                        </div>
                    </div>
                </div> 
                <div class="pl-lg-4">
                    <div class="row">
                        <div class="col-md-12">
                            <label class="form-control-label" for="input-password_confirmation">Confirmar contraseña</label>
                            <div class="form-group">
                                <input type="password" id="input-password_confirmation" class="form-control" v-model="password_confirmation" required/>
                            </div>
                        </div>
                    </div>
                </div> 
            </template>
            <div class="pl-lg-4">
                <div class="row">
                    <div class="col-md-12">
                    	<label class="form-control-label" for="input-token">Confirmado</label>
                    	<div class="form-group">
                    		<select id="token" class="form-control" v-model="user.token_confirmed" required>
                    			<option value="1" selected>SI</option>
                    			<option value="0">NO</option>
                    		</select>
                    	</div>
                    </div>
                </div>
            </div>
            <div class="pl-lg-4">
                <div class="row">
                    <div class="col-md-12">
                    	<label class="form-control-label" for="input-type">Categoría</label>
                    	<div class="form-group">
                    		<select id="type" class="form-control" v-model="user.type" required>
                    			<option value="root" selected>Root</option>
                    			<option value="administrador">Administrador</option>
                    			<option value="customer">Cliente</option>
                    		</select>
                    	</div>
                    </div>
                </div>
            </div>
            <div class="pl-lg-4">
            	<div class="form-group">
            		<button type="submit" class="btn btn-success">Guardar</button>
                    <a href="javascript:void(0);" v-on:click="resetPassword" v-if="resetPass == 'disabled'">Restablecer contraseña</a>
                    <a href="javascript:void(0);" v-on:click="notResetPassword" v-else>No restablecer contraseña</a>
            	</div>
            </div>
        </form>
    </div>
</template>
<script>
	export default {
        props: ['user', 'http'],
		data () {
	        return {
                resetPass: 'disabled',
                password: '',
                password_confirmation: ''
	        }
	    },
	    methods: {
            resetPassword: function () {
                this.resetPass = 'enabled'
            },
            notResetPassword: function () {
                this.resetPass = 'disabled'
            },
	    	updateUser: function () {

	    		axios.put(this.http, {

                	names: this.user.names,
                	surnames: this.user.surnames,
                	email: this.user.email,
                	password: this.password,
                	password_confirmation: this.password_confirmation,
                	token_confirmed: this.user.token_confirmed,
                	type: this.user.type

	            }).then(response => {

	            	window.location.href = '/users';

	            }).catch(error => {
	              
	            });
	    	}
	    }
	};
</script>